/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: white;
}
h1 {
    color: emerald;
}
button {
    background-color: gold;
    border: none;
    padding: 10px;
    cursor: pointer;
}
#toggle-dark-mode {
    margin: 10px 0;
}
.dark-mode {
    background-color: black;
    color: white;
}